# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs temporary files
*~

# temporary / backup files
*.old

# build (CMake) directory
build/
